<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
</head>
<body>
    <h4>Dear {{to_name}},</h4>
    <p>Your Competency App account has been created by <b>{{from_name}}</b>. Use the credentials below to log into your <a href="https://competency-app.netlify.app/login">account</a>, afterwhich you can update your profile and change your password.</p>
    <ul>
        <li><b>Username: </b>{{username}}</li>
        <li><b>Password: </b>{{password}}</li>
    </ul>
    <p>Regards,</p>
    <h5>Moringa School</h5>
</body>
</html>